<% include ../layouts/sub/header %>
<link href="/styles/site/news.css" rel="stylesheet">


<div class="banner container">
    <div class="row">
        <div class="col-md-12">
            <a href=".">主页</a>
            <i class="fa fa-angle-right"></i>
            <span>新闻资讯</span>
        </div>
    </div>
</div>    

<section class="news_blc">
    <div class="container">
        <div class="row">
            <div class="col-12">
				<% if(news && news.length > 0){%>
					<% news.forEach(function(el){ %>
						<div class="component_item_blc wow fadeInLeft">
							<a href="#" class="innerComponent bordEffe " id="new2">
								<div class="leftBlc">
										<div class="date_blc">
												<span><%= (el && el._.newsTime ) ? moment(el.newsTime).locale('zh-cn').format("LL") : '' %></span>
										</div>
										<div class="main_title_blc">
												<h3><%= (el && el.shortTitle ) ? el.shortTitle : '' %></h3>
										</div>
										<div class="main_content" style="display: none">
												<p class="main_content_detail1"><%= (el && el.newsOrigin ) ? el.newsOrigin : '' %></p>
												<p class="main_content_detail2">
													<%= (el && el.content1 ) ? el.content1 : '' %>
												</p>
												<img src="/uploads/img/news/<%= el.contentImg.filename || '' %> " alt="">
												<p class="main_content_detail3">                                    
													<%= (el && el.content2 ) ? el.content2 : '' %>
												</p>
												<p class="news_linksBack"><%= (el && el.url ) ? el.url : '' %></p>
										</div>
								</div>
								<div class="rightBlc">
										<img src="/uploads/img/news/<%= el.displayImg.filename || '' %> " alt="">
								</div>
							</a>
						</div>
					<% }) %>
				<% }%>
			</div>
			<!-- <div class="col-12 pagination_bottom">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
					  <li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">1</a></li>
					  <li class="page-item active"><a class="page-link" href="#">2</a></li>
					  <li class="page-item"><a class="page-link" href="#">3</a></li>
					  <li class="page-item">
						<a class="page-link" href="#">Next</a>
					  </li>
					</ul>
				</nav>
			</div> -->
        </div>
    </div>

 </section>

<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="dateBlc">
                            <span id="new_date"></span>
                        </div>
                        <div class="mainContent_blc">
                            <h2 id="new_title"></h2>
                            <hr>
                            <div class="img_blc text-center">
                                <img id="new_image" alt="">
                            </div>
                            <p id="new_content">
                                <p id="new_content_inner_1"></p>
                                <p id="new_content_inner_2"></p>
                                <p id="new_content_inner_3"></p>
                                <a href="" id="new_content_link" target="_blank" >阅读原文</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
        </div>
    </div>
</div>
    

<% include ../layouts/sub/footer%>
