<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>广州桑瑞科技有限公司</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta content="" name="keywords" />
		<meta content="" name="description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="自主、可持续发展，并成为有竞争力的通信设备供应商"
		/>
		<meta name="keywords" content="桑瑞" />
		<meta property="og:title" content="桑瑞" />
		<!-- <meta property="og:image" content="" /> -->
		<meta
			property="og:description"
			content="高起点、高标准是桑瑞公司的立足之本"
		/>
		<!-- <meta property="og:url" content="https://nauticus.io" /> -->
		<meta property="og:type" content="website" />

		<!--
			Place your favicon.ico and apple-touch-icon.png in the template root directory
		-->
		<link href="favicon.ico" rel="shortcut icon" />
		<script src="/lib/jquery_v3/jquery_v3.31.js"></script>

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
			rel="stylesheet"
		/>

		<!-- Bootstrap CSS File -->
		<!-- <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
		<link
			rel="stylesheet"
			href="/lib/bootstrap-material-design/css/bootstrap-material-design.min.css"
			integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I"
			crossorigin="anonymous"
		/>

		<!-- Libraries CSS Files -->
		<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/lib/animate-css/animate.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/lib/lily/dist/lity.min.css" />
		<link rel="stylesheet" href="/lib/hover-master/hover-min.css" />
		<link rel="stylesheet" href="/lib/iziToast/dist/css/iziToast.min.css" />

		<!-- Swipe JS -->
		<link rel="stylesheet" href="/lib/swiper/dist/css/swiper.min.css" />

		<!-- Main Stylesheet File -->
		<link href="/styles/site.css" rel="stylesheet" />

		<!-- Baidu api -->
		<script
			type="text/javascript"
			src="https://api.map.baidu.com/api?v=2.0&ak=1bVYZDoxGfmRlIWt9gpbEd2zSzIBzFPa"
		></script>
		<script
			type="text/javascript"
			src="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"
		></script>
		<link
			rel="stylesheet"
			href="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css"
		/>
	</head>

	<body>
		<!-- <div id="preloader"></div> -->
		<div class="preloader" id="preloader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle
					class="path"
					cx="50"
					cy="50"
					r="20"
					fill="none"
					stroke-width="2"
					stroke-miterlimit="10"
				/>
			</svg>
		</div>

		<!--
			==========================
			Hero Section
			============================
		-->

		<section id="hero">
			<div id="particles-js"></div>
			<div class="hero-container">
				<div class="wow fadeIn">
					<div class="hero-logo">
						<!-- <img class="" src="/images/logo.png" alt="Imperial"> -->
						<!-- <h1>SUNRISE</h1> -->
						<h1><%= (header && header.title ) ? header.title : 'SUNRISE' %></h1>
					</div>

					<!-- <h1>Welcome to 桑瑞</h1> -->
					<h1>
						<%= (header && header.first_desc ) ? header.first_desc : 'Welcome to 桑瑞' %>
					</h1>
					<h2>
						我们致力于
						<span class="rotating"
							><%= (header && header.first_catetory ) ? header.first_catetory : '智慧城市发展, 微波雷达传感技术, 高精度数据采集和应用解决方案' %></span
						>
					</h2>
					<div class="actions">
						<a href="#" class="btn-get-started" id="beginJourne"
							><%= (header && header.btn_beginJourne ) ? header.btn_beginJourne : '开始旅程' %></a
						>
						<a href="#" class="btn-services" id="beginProduct"
							><%= (header && header.beginProduct ) ? header.beginProduct : '产品业务' %></a
						>
					</div>
				</div>
			</div>
		</section>

		<!--
			==========================
			Header Section
			============================
		-->
		<header id="header" class="showTop">
			<div class="container">
				<div id="logo" class="pull-left">
					<!--
						<a href="/#"><img src="/images/logo.png" alt="" title="" /></img></a>
					-->
					<!-- Uncomment below if you prefer to use a text image -->
					<!-- <h1><a class="header_logo" href=".">SUNRISE</a></h1> -->
					<h1>
						<a class="header_logo" href="."
							><%= (header && header.mainHeaderTitle ) ? header.mainHeaderTitle : 'SUNRISE' %></a
						>
					</h1>
				</div>

				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li>
							<a href="/about"
								><%= (header && header.mainHeaderAbout ) ? header.mainHeaderAbout : '关于' %></a
							>
						</li>
						<li class="menu-has-children">
							<a href="/solutions"
								><%= (header && header.mainHeaderSolutionIndex ) ? header.mainHeaderSolutionIndex : '解决方案' %></a
							>
							<ul>
								<li>
									<a href="/solutions/geologic"
										><%= (header && header.mainHeaderSolutionGeotech ) ? header.mainHeaderSolutionGeotech : '地质环境' %></a
									>
								</li>
								<li>
									<a class="devMode" href="javascript:void(0)"
										><%= (header && header.mainHeaderSolutionElect ) ? header.mainHeaderSolutionElect : '水利电力' %></a
									>
								</li>
								<li>
									<a class="devMode" href="javascript:void(0)"
										><%= (header && header.mainHeaderSolutionTraffic ) ? header.mainHeaderSolutionTraffic : '智能交通' %></a
									>
								</li>
								<li>
									<a class="devMode" href="javascript:void(0)"
										><%= (header && header.mainHeaderSolutionChemist ) ? header.mainHeaderSolutionChemist : '石油化工' %></a
									>
								</li>
								<li>
									<a href="/solutions/antenae"
										><%= (header && header.mainHeaderSolutionAntena ) ? header.mainHeaderSolutionAntena : '通信' %></a
									>
								</li>
							</ul>
						</li>
						<li>
							<a href="/news"
								><%= (header && header.mainHeaderNews ) ? header.mainHeaderNews : '新闻资讯' %></a
							>
						</li>
						<li>
							<a href="/cases"
								><%= (header && header.mainHeaderCases ) ? header.mainHeaderCases : '方案展示' %></a
							>
						</li>
						<li>
							<a href="/team"
								><%= (header && header.mainHeaderTeam ) ? header.mainHeaderTeam : '团队' %></a
							>
						</li>
						<li>
							<a href="/job"
								><%= (header && header.mainHeaderRecruit ) ? header.mainHeaderRecruit : '招聘' %></a
							>
						</li>
						<li><a href="#contact">联系我们</a></li>
						<!--
							<form class="navbar-form navbar-left">
							  <div class="form-group">
							    <input type="text" class="form-control" placeholder="Search">
							  </div>
							  <button type="submit" class="btn btn-default">Submit</button>
							</form>
						-->
					</ul>
				</nav>
			</div>
		</header>
		<!-- #header -->
	</body>
</html>
